In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('04.reduced_telco_data.csv')
data.head()

,SeniorCitizen,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Contract_Month-to-Month,Contract_One year,Contract_Two year,...,DeviceProtection_Yes,TechSupport_No,TechSupport_Unknown,TechSupport_Yes,StreamingTV_No,StreamingTV_Unknown,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Unknown,StreamingMovies_Yes
0,False,-0.244200,True,True,0.021083,0.001391,0,True,False,False,...,False,True,False,False,False,False,True,False,False,True
1,True,-0.306748,True,False,0.053733,0.002613,0,False,False,True,...,False,True,False,False,True,False,False,True,False,False
2,False,-0.744587,True,False,0.004393,0.000401,0,False,True,False,...,False,True,False,False,True,False,False,True,False,False
3,False,1.069316,True,True,0.020597,0.002886,0,False,False,True,...,False,True,False,False,True,False,False,True,False,False
4,False,-0.619490,True,False,0.041444,0.001535,0,True,False,False,...,True,True,False,False,True,False,False,True,False,False

In [3]:
# Assign X (all columns except 'Churn')
X = data.drop(columns=['Churn'])

In [4]:
# Assign Y (only 'Churn')
Y = data['Churn']

In [8]:
print("X shape:", X.shape)  
X.head(2)

X shape: (56000, 46)

,SeniorCitizen,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Contract_Month-to-Month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),...,DeviceProtection_Yes,TechSupport_No,TechSupport_Unknown,TechSupport_Yes,StreamingTV_No,StreamingTV_Unknown,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Unknown,StreamingMovies_Yes
0,False,-0.244200,True,True,0.021083,0.001391,True,False,False,True,...,False,True,False,False,False,False,True,False,False,True
1,True,-0.306748,True,False,0.053733,0.002613,False,False,True,False,...,False,True,False,False,True,False,False,True,False,False

In [9]:
print("Y shape:", Y.shape) 
Y.head(2)

Y shape: (56000,)

0    0
1    0
Name: Churn, dtype: int64

In [10]:
# Train-test split (80% train, 20% test)
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42, stratify=Y)

In [11]:
print("Train-test split done!")
print("Train size:", X_train.shape, Y_train.shape)
print("Test size:", X_test.shape, Y_test.shape)

Train-test split done!
Train size: (44800, 46) (44800,)
Test size: (11200, 46) (11200,)

In [14]:
# Save them to train_test_split_dataset folder
X_train.to_csv("../Train_test_dataset/X_train.csv", index=False)
X_test.to_csv("../Train_test_dataset/X_test.csv", index=False)
Y_train.to_csv("../Train_test_dataset/Y_train.csv", index=False)
Y_test.to_csv("../Train_test_dataset/Y_test.csv", index=False)